<div class="parent">
    <div class="child" *ngFor="let weather of weathers">
        <h2>weather in hyderabad</h2>

        <h1>{{weather.current_weather.temperature}} &deg;C</h1>


        <h5>wind speed: {{weather.current_weather.windspeed}}
            Km/h
        </h5>

        <h5>wind direction: {{weather.current_weather.winddirection}} &deg; (NE) </h5>

        <h4>Daytime{{weather.current_weather.is_day}}</h4>


        <h5>{{weather.current_weather.time | date}}
            
        </h5>

        
    </div>
</div>
