.parent{
    width: 100vw;
    height: 100vh;
    background-color: azure;
    padding: 20px;
}

.child{

    width: 30%;
    height: 50%;
    background-color: rgb(182, 219, 220);
    margin: 140px;
    position: relative;
    left: 150px;
    box-shadow: 0px 0px 20px black;   
}

.rect{
    text-align: center;
}

.len{
    position: relative;
    
    left: 165px;
}

.bre{
    position: relative;
    
    left: -149px;
    top: 24px;
}

.box1{
    width: 80%;
    position: relative;
    left: 35px;
    border: none;
}

.box2{
    width: 80%;
    position: relative;
    left: 35px;
    top: 20px;
    border: none;
}

.area{
    position: relative;
    top: 35px;
    left: 140px;
    background-color: rgb(142, 181, 181);

}

.peri{

    position: relative;
    top: 35px;
    left: 150px;
    background-color: rgb(142, 181, 181);
}

h3{
    position: relative;
    top: 30px;
}