<div class="parent">
    <div class="chi1">
        <div class="one">

            <h4>
                hi
            </h4>

        </div>

        <div class="two">
            <input type="text" placeholder="search student" [(ngModel)]="term" (keyup)="filter()">

            <select [(ngModel)]="column">
                <option>name</option>
                <option>city</option>
                <option>school name</option>
                <option>school city</option>
            </select>

            <select [(ngModel)]="order">
                <option>asc</option>
                <option >desc</option>

            </select>

            <button (click)="sort()">sort</button>


        </div>

        <div class="three">

           
        </div>
    </div>
    <div class="child" *ngFor="let student of students">
        <div class="top">
            <img src="{{student.school_logo}}" width="70px" height="50px">
            <label >{{student.school_name}}</label>
        </div>
       
        <div class="middle">

            <span>NAME: {{student.name}}</span>
            <br>

            <span>PHONE: {{student.phone}}</span>
           
            <br>

            <span>DOB: {{student.dob}}</span>
            <br>

            <span>CITY: {{student.city}}</span>
            <br>
            <span>EMAIL: {{student.email}}</span>
            <br>

            <img class="image" src="{{student.profile_picture}} " width="100px" height="80px" >


        </div>
        <div class="bottom">
           
            <div class="b1">
                <h6>SCHOOL CITY: {{student.school_city}}</h6>
            <h6>SCHOOL PIN:{{student.school_pin}}</h6>
            </div>

            <div class="bt" >
                <button class="btn btn-info">View</button>
            <button class="btn btn-secondary">Exit</button>
            <button (click)="delete(student.id)"  class="btn btn-danger" >Delete</button>
            </div>


            

        </div>
    </div>


</div>