<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h3 routerLink="home">home</h3>
        <h3 routerLink="welcome">Welome</h3>
        <h3 routerLink="data-binding">Data Binding</h3>
        <h3 routerLink="directives">directives</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <h3 routerLink="event-registration">event registration</h3>
        <h3 routerLink="emp-registration">emp registration</h3>
        <h3 routerLink="employee">employee</h3>
        <h3 routerLink="flipkart">flipkart</h3>
        <h3 routerLink="vechile">vechile</h3>
        <h3 routerLink="accounts">accounts</h3>
        <h3 routerLink="product">product</h3>
        <h3 routerLink="mail">mail</h3>
        <h3 routerLink="book">book</h3>
        <h3 routerLink="weather">weather</h3>
        <h3 routerLink="blog">blog</h3>
        <h3 routerLink="imdb">IMDB</h3>
        <h3 routerLink="pokemon">pokemon</h3>
        <h3 routerLink="pokemon">pokemon</h3>
        <h3 routerLink="create-account">create-account</h3>
        <h3 routerLink="student">student-card</h3>
        <h3 routerLink="create-student">create-student</h3>
        <h3 routerLink="profile">profile</h3>
        <h3 routerLink="angular">angular</h3>
        <h3 routerLink="createaccount">createaccount</h3>


        <hr>

        <div>
            <button class="logout" routerLink="/login">logout</button>
        </div>




        




    </div>

    <div class="right">
        <router-outlet></router-outlet>
    </div>


</div>
